# API URL
VITE_API_URL=http://localhost:3000 

# Media/File Upload Configuration
VITE_MEDIA_URL="http://localhost:3000"

# Application Configuration
VITE_APP_NAME="SoulYouSee"
VITE_APP_VERSION="1.0.0"