node_modules/
dist/
build/
.cache/
coverage/
.next/
out/
.nuxt/
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*
.eslintcache
.stylelintcache
stats.html
.turbo
*.local